PHXGDCILib/PHXLibrary/GDCI_IBFT_Request.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recFixLengthFieldsFmt="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat">

            <xsd:include schemaLocation="GDCI_TransactionMessageHeaders.xsd"/>
        <xsd:import namespace="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat" schemaLocation="IBMdefined/RecordFixLengthFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="fixed" ref="recFixLengthFieldsFmt:RecordFixLengthFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element dfdl:lengthKind="delimited" ibmSchExtn:docRoot="true" name="GDCI_IBFT_Request">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="" dfdl:separatorSuppressionPolicy="anyEmpty">
                                                                								                                                                <xsd:element ref="TransactionRequestHeader"/>
                <xsd:element dfdl:initiator="" dfdl:lengthKind="delimited" name="body">
					<xsd:complexType>
						<xsd:sequence>
                            							<xsd:element dfdl:length="11" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="FromAccountBankIMD" type="xsd:string"/>
                            <xsd:element dfdl:length="20" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" ibmDfdlExtn:sampleValue="body_valu1" name="FromAccountNumber" type="xsd:string"/>
                            							                            <xsd:element dfdl:length="2" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" ibmDfdlExtn:sampleValue="body_valu2" name="FromAccountType" type="xsd:string"/>
                            							                            <xsd:element dfdl:length="3" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" ibmDfdlExtn:sampleValue="body_valu3" name="FromAccountCurrency" type="xsd:string"/>
                                                                                    <xsd:element dfdl:length="11" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="ToAccountBankIMD" type="xsd:string"/>
                            <xsd:element dfdl:length="25" dfdl:lengthUnits="characters" dfdl:textPadKind="none" dfdl:textTrimKind="none" ibmDfdlExtn:sampleValue="body_value4" name="ToAccountDetals" type="xsd:string"/>
                                                                                                                <xsd:element dfdl:length="13" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textStringJustification="right" dfdl:textStringPadCharacter="0" dfdl:textTrimKind="none" ibmDfdlExtn:sampleValue="body_value5" name="TransactionAmount" type="xsd:string"/>
                                                                                    <xsd:element dfdl:length="3" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" ibmDfdlExtn:sampleValue="body_value6" name="TransactionCurrency" type="xsd:string"/>
                                                                                                        <xsd:element dfdl:length="8" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textStringJustification="right" dfdl:textStringPadCharacter="0" dfdl:textTrimKind="none" name="TransactionFee" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                                                			                                                </xsd:sequence>
		</xsd:complexType>
	</xsd:element>


    <xsd:element dfdl:initiator="" dfdl:lengthKind="delimited" name="header">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element dfdl:length="7" ibmDfdlExtn:sampleValue="head_valu1" name="MessageProtocol" type="xsd:string"/>
							<xsd:element dfdl:length="2" ibmDfdlExtn:sampleValue="head_valu2" name="Version" type="xsd:string"/>
							<xsd:element dfdl:length="3" ibmDfdlExtn:sampleValue="head_valu3" name="FieldInError" type="xsd:string"/>
                            <xsd:element dfdl:length="4" ibmDfdlExtn:sampleValue="head_value4" name="MessageType" type="xsd:string"/>
                            <xsd:element dfdl:length="14" ibmDfdlExtn:sampleValue="head_value5" name="TransmissionDateTime" type="xsd:string"/>
                            <xsd:element dfdl:length="2" ibmDfdlExtn:sampleValue="head_value6" name="DeliveryChannelType" type="xsd:string"/>
                            <xsd:element dfdl:length="20" ibmDfdlExtn:sampleValue="head_value7" name="DeliveryChannelID" type="xsd:string"/>
                            <xsd:element dfdl:length="30" ibmDfdlExtn:sampleValue="head_value8" name="CustomerID" type="xsd:string"/>
                            <xsd:element dfdl:length="3" ibmDfdlExtn:sampleValue="head_value9" name="TransactionCode" type="xsd:string"/>
                            <xsd:element dfdl:length="8" ibmDfdlExtn:sampleValue="head_value10" name="TransactionDate" type="xsd:string"/>
                            <xsd:element dfdl:length="6" ibmDfdlExtn:sampleValue="head_value11" name="TransactionTime" type="xsd:string"/>
                            <xsd:element dfdl:length="12" ibmDfdlExtn:sampleValue="head_value12" name="RetrivealReferenceNumber" type="xsd:string"/>
                            <xsd:element dfdl:length="20" ibmDfdlExtn:sampleValue="head_value13" name="CustomerPINData" type="xsd:string"/>
                            <xsd:element dfdl:length="16" ibmDfdlExtn:sampleValue="head_value14" name="AgentID" type="xsd:string"/>
                            <xsd:element dfdl:length="64" ibmDfdlExtn:sampleValue="head_value15" name="ChannelSpecificDataField" type="xsd:string"/>
                            <xsd:element dfdl:length="20" ibmDfdlExtn:sampleValue="head_value16" name="ChannelPrivateData" type="xsd:string"/>
                            <xsd:element dfdl:length="6" ibmDfdlExtn:sampleValue="head_value17" name="AuthorizationResponseID" type="xsd:string"/>
                            <xsd:element dfdl:length="2" ibmDfdlExtn:sampleValue="head_value18" name="ResponseCode" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
</xsd:schema>