PHXGDCILib/PHXLibrary/GDCI_TransactionMessageHeaders.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat">
    <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
                <xsd:element ibmSchExtn:docRoot="true" name="TransactionRequestHeader">
    <xsd:complexType>
      <xsd:sequence dfdl:separator="">
        <xsd:element dfdl:length="7" dfdl:lengthKind="explicit" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="MessageProtocol" type="xsd:string"/>
        <xsd:element dfdl:length="2" dfdl:lengthKind="explicit" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="padChar" name="Version" type="xsd:string"/>
        <xsd:element dfdl:length="3" dfdl:lengthKind="explicit" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="FieldInError" type="xsd:string"/>
        <xsd:element dfdl:length="4" dfdl:lengthKind="explicit" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="MessageType" type="xsd:string"/>
        <xsd:element dfdl:length="14" dfdl:lengthKind="explicit" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="TransmissionDateTime" type="xsd:string"/>
        <xsd:element dfdl:length="2" dfdl:lengthKind="explicit" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="DeliveryChannelType" type="xsd:string"/>
        <xsd:element dfdl:length="20" dfdl:lengthKind="explicit" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="DeliveryChannelID" type="xsd:string"/>
        <xsd:element dfdl:length="30" dfdl:lengthKind="explicit" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="CustomerID" type="xsd:string"/>
        <xsd:element dfdl:length="3" dfdl:lengthKind="explicit" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="TransactionCode" type="xsd:string"/>
        <xsd:element dfdl:length="8" dfdl:lengthKind="explicit" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="TransactionDate" type="xsd:string"/>
        <xsd:element dfdl:length="6" dfdl:lengthKind="explicit" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="TransactionTime" type="xsd:string"/>
        <xsd:element dfdl:length="12" dfdl:lengthKind="explicit" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="RetrivevalReferenceNumber" type="xsd:string"/>
        <xsd:element dfdl:length="20" dfdl:lengthKind="explicit" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="CustomerPINData" type="xsd:string"/>
        <xsd:element dfdl:length="16" dfdl:lengthKind="explicit" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="AgentID" type="xsd:string"/>
        <xsd:element dfdl:length="64" dfdl:lengthKind="explicit" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="ChannelSpecificDataField" type="xsd:string"/>
        <xsd:element dfdl:length="20" dfdl:lengthKind="explicit" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="ChannelPrivateData" type="xsd:string"/>
        <xsd:element dfdl:length="6" dfdl:lengthKind="explicit" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="AuthorizationResponseID" type="xsd:string"/>
        <xsd:element dfdl:length="2" dfdl:lengthKind="explicit" dfdl:lengthUnits="characters" dfdl:textPadKind="padChar" dfdl:textTrimKind="none" name="ResponseCode" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:element ibmSchExtn:docRoot="true" name="TransactionResponseHeader">
    <xsd:complexType>
      <xsd:sequence dfdl:separator="">
                                                                                                        <xsd:element dfdl:length="7" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" name="MessageProtocol" type="xsd:string"/>
                                        <xsd:element dfdl:length="2" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" name="Version" type="xsd:string"/>
        <xsd:element dfdl:length="3" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" name="FieldInError" type="xsd:string"/>
        <xsd:element dfdl:length="4" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" name="MessageType" type="xsd:string"/>
        <xsd:element dfdl:length="14" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" name="TransmissionDateTime" type="xsd:string"/>
        <xsd:element dfdl:length="2" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" name="DeliveryChannelType" type="xsd:string"/>
        <xsd:element dfdl:length="20" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" name="DeliveryChannelID" type="xsd:string"/>
        <xsd:element dfdl:length="30" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" name="CustomerID" type="xsd:string"/>
        <xsd:element dfdl:length="3" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" name="TransactionCode" type="xsd:string"/>
        <xsd:element dfdl:length="8" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" name="TransactionDate" type="xsd:string"/>
        <xsd:element dfdl:length="6" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" name="TransactionTime" type="xsd:string"/>
        <xsd:element dfdl:length="12" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" name="RetrivevalReferenceNumber" type="xsd:string"/>
        <xsd:element dfdl:length="20" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" name="CustomerPINData" type="xsd:string"/>
        <xsd:element dfdl:length="80" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" name="ChannelSpecificDataField" type="xsd:string"/>
        <xsd:element dfdl:length="20" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" name="ChannelPrivateData" type="xsd:string"/>
        <xsd:element dfdl:length="6" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" name="AuthorizationResponseID" type="xsd:string"/>
        <xsd:element dfdl:length="2" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" name="ResponseCode" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="GDCI_TransactionRequestResponse">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="%CR;%LF;%WSP*;" dfdl:separatorSuppressionPolicy="anyEmpty">
				<xsd:element maxOccurs="unbounded" name="body">
					<xsd:complexType>
						<xsd:sequence dfdl:initiatedContent="yes" dfdl:separator="%#124;" dfdl:separatorSuppressionPolicy="anyEmpty">
							<xsd:element dfdl:initiator="iBody1" ibmDfdlExtn:sampleValue="body_value1" name="body_elem1" type="xsd:string"/>
							<xsd:element dfdl:initiator="iBody2" ibmDfdlExtn:sampleValue="body_value2" name="body_elem2" type="xsd:string"/>
							<xsd:element dfdl:initiator="iBody3" ibmDfdlExtn:sampleValue="body_value3" name="body_elem3" type="xsd:string"/>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>