PHXGDCILib/PHXLibrary/GDCI_TitleFetch_Response.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat">
            <xsd:include schemaLocation="GDCI_TransactionMessageHeaders.xsd"/>
        <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="GDCI_TitleFetch_Response">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="" dfdl:separatorSuppressionPolicy="anyEmpty">
                				                			                <xsd:element ref="TransactionResponseHeader"/>
                <xsd:element minOccurs="0" name="body">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="">
							<xsd:element dfdl:length="11" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" ibmDfdlExtn:sampleValue="body_value1" name="BankIMD" type="xsd:string"/>
                            														                                                    <xsd:element dfdl:length="25" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" ibmDfdlExtn:sampleValue="body_value1" name="AccountDetails" type="xsd:string"/>
                            <xsd:element dfdl:length="30" dfdl:lengthKind="explicit" dfdl:lengthUnits="bytes" dfdl:textTrimKind="none" ibmDfdlExtn:sampleValue="body_value1" name="AccountTitle" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
                                        </xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>