SharedModules/ErrorResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="ErrorResponseType">
    	<xsd:sequence>
    		<xsd:element name="ErrorCode" type="xsd:string"></xsd:element>
    		<xsd:element name="ErrorDescription" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element name="ErrorResponse" type="ErrorResponseType"></xsd:element>
</xsd:schema>