SharedModules/IBFTTransactionResult.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="IBFTTransactionResultType">
    	<xsd:sequence>
    		<xsd:element name="ResponseCode" type="xsd:string"></xsd:element>
    		<xsd:element name="ResponseDescriprtion" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element name="IBFTTransactionResult" type="IBFTTransactionResultType"></xsd:element>
</xsd:schema>