SharedModules/LogData.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="LogDataType">
    	<xsd:sequence>
    		<xsd:element name="DATA1" type="xsd:string"></xsd:element>
    		<xsd:element name="DATA2" type="xsd:string"></xsd:element>
    		<xsd:element name="DATA3" type="xsd:string"></xsd:element>
    		<xsd:element name="DATA4" type="xsd:string"></xsd:element>
    		<xsd:element name="DATA5" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element name="LogData" type="LogDataType"></xsd:element>
</xsd:schema>