SharedModules/LogonSchema.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="LogonContainer">
    	<xsd:sequence>
    		<xsd:element name="CustomerID" type="xsd:string"></xsd:element>
    		<xsd:element name="DeliveryChannelType" type="xsd:string"></xsd:element>
    		<xsd:element name="ChannelSpecificDataField" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element name="LogonMessage" type="LogonContainer"></xsd:element>
</xsd:schema>