OFSMessageLibrary/AccountStatementOperation.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="OperationType">
    	<xsd:sequence>
    		<xsd:element name="OperationName" type="xsd:string"/>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element name="OperationElement" type="OperationType"/>
</xsd:schema>