OFSMessageLibrary/OFSAccountStatementResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat">
    <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
        <xsd:element ibmSchExtn:docRoot="true" name="TransactionObj">
    <xsd:complexType>
      <xsd:sequence dfdl:separator="|">
        <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="%SP;" dfdl:useNilForDefault="yes" name="field1" nillable="true" type="xsd:string"/>
        <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="%SP;" dfdl:useNilForDefault="yes" name="field" nillable="true" type="xsd:string"/>
        <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="%SP;" dfdl:useNilForDefault="yes" name="field2" nillable="true" type="xsd:string"/>
        <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="%SP;" dfdl:useNilForDefault="yes" name="field3" nillable="true" type="xsd:string"/>
        <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="%SP;" dfdl:useNilForDefault="yes" name="field4" nillable="true" type="xsd:string"/>
        <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="%SP;" dfdl:useNilForDefault="yes" name="field5" nillable="true" type="xsd:string"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element ibmSchExtn:docRoot="true" name="OFSAccountStatementResponse">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="" dfdl:separatorSuppressionPolicy="anyEmpty">
				<xsd:element dfdl:initiator="|" dfdl:terminator="|" name="header">
					<xsd:complexType>
						<xsd:sequence dfdl:separator="|">
							<xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="%SP;" dfdl:useNilForDefault="yes" ibmDfdlExtn:sampleValue="head_value1" name="head_elem1" nillable="true" type="xsd:string"/>
                            														                                                                                                            <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="%SP;" dfdl:useNilForDefault="yes" ibmDfdlExtn:sampleValue="head_value1" name="head_elem" nillable="true" type="xsd:string"/>
                            <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="%SP;" dfdl:useNilForDefault="yes" ibmDfdlExtn:sampleValue="head_value1" name="head_elem2" nillable="true" type="xsd:string"/>
                            <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="%SP;" dfdl:useNilForDefault="yes" ibmDfdlExtn:sampleValue="head_value1" name="head_elem3" nillable="true" type="xsd:string"/>
                            <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="%SP;" dfdl:useNilForDefault="yes" ibmDfdlExtn:sampleValue="head_value1" name="head_elem4" nillable="true" type="xsd:string"/>
                            <xsd:element dfdl:nilKind="literalValue" dfdl:nilValue="%SP;" dfdl:useNilForDefault="yes" ibmDfdlExtn:sampleValue="head_value1" name="head_elem5" nillable="true" type="xsd:string"/>
                        </xsd:sequence>
					</xsd:complexType>
				</xsd:element>
				<xsd:element dfdl:initiator="" name="body">
					<xsd:complexType>
                        											<xsd:sequence dfdl:separator="%#124;">
                            																											<xsd:element maxOccurs="unbounded" minOccurs="0" ref="TransactionObj"/>
                        </xsd:sequence>
                    </xsd:complexType>
				</xsd:element>
							</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

</xsd:schema>