OFSMessageLibrary/OFSBankersChequeEncashment.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recSepFieldsFmt="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat">
    <xsd:import namespace="http://www.ibm.com/dfdl/RecordSeparatedFieldFormat" schemaLocation="IBMdefined/RecordSeparatedFieldFormat.xsd"/>
        <xsd:element ibmSchExtn:docRoot="true" name="OSFBankersChequeEncashment">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:sequence dfdl:separator="">
          <xsd:element name="Operation" type="xsd:string"/>
        </xsd:sequence>
        <xsd:sequence dfdl:separator="/">
          <xsd:element name="Version" type="xsd:string"/>
          <xsd:element name="VersionFunction" type="xsd:string"/>
          <xsd:element name="VersionOperation" type="xsd:string"/>
        </xsd:sequence>
                                <xsd:sequence dfdl:separator="/" dfdl:terminator="">
                                                <xsd:element name="Username" type="xsd:string"/>
                    <xsd:element name="Password" type="xsd:string"/>
                    <xsd:element dfdl:terminator="/" name="CompanyCode" type="xsd:string"/>
                </xsd:sequence>
                <xsd:sequence>
          <xsd:element name="MessageData">
            <xsd:complexType>
              <xsd:sequence>
                                                                                <xsd:element dfdl:initiator=",CREDIT.THEIR.REF:1:=" name="BankerChequeNumber" type="xsd:string"/>
                                                                                <xsd:element dfdl:initiator="CREDIT.ACCT.NO:1:1=" name="CreditAccountNumer" type="xsd:string"/>
                              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="implicit" ref="recSepFieldsFmt:RecordSeparatedFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>


</xsd:schema>