OFSMessageLibrary/OFSBankersChequeDuplicate.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
        <xsd:element ibmSchExtn:docRoot="true" name="OFSBankersChequeDuplicate">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:sequence dfdl:separator="">
          <xsd:element name="Operation" type="xsd:string"/>
        </xsd:sequence>
        <xsd:sequence dfdl:separator="/">
          <xsd:element name="Version" type="xsd:string"/>
          <xsd:element name="VersionFunction" type="xsd:string"/>
          <xsd:element name="VersionOperation" type="xsd:string"/>
        </xsd:sequence>
        <xsd:sequence dfdl:separator="/">
                              <xsd:sequence dfdl:separator="/" dfdl:terminator="">
            <xsd:element name="Username" type="xsd:string"/>
            <xsd:element name="Password" type="xsd:string"/>
            <xsd:element dfdl:terminator="/" name="CompanyCode" type="xsd:string"/>
          </xsd:sequence>
                                                                                                                                                                                                                  <xsd:sequence dfdl:separator="/">
            <xsd:element minOccurs="0" name="TransactionId" type="xsd:string"/>
          </xsd:sequence>
                </xsd:sequence>
        <xsd:sequence dfdl:separator="">
          <xsd:element name="MessageData">
            <xsd:complexType>
              <xsd:sequence>
                <xsd:element name="DuplicateChequeNumber" type="xsd:string"/>
                <xsd:element dfdl:initiator="NEW.NUMBER:1:1=&quot;" dfdl:terminator="&quot;" name="NewChequeNumber" type="xsd:string"/>
              </xsd:sequence>
            </xsd:complexType>
          </xsd:element>
        </xsd:sequence>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>




</xsd:schema>