OFSMessageLibrary/OFScredentials.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:complexType name="CredentialComplexType">
    	<xsd:sequence>
    		<xsd:element name="username" type="xsd:string"></xsd:element>
    		<xsd:element name="password" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element name="OFSCredentials" type="CredentialComplexType"></xsd:element>
</xsd:schema>