OFSMessageLibrary/OFSLMSAccountOpening.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


	<xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
	<xsd:element ibmSchExtn:docRoot="true" name="OFSLMSAccountOpening">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="body">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:sequence dfdl:separator="/">
								<xsd:element minOccurs="0" name="Operation" type="xsd:string"/>
							</xsd:sequence>
							<xsd:sequence dfdl:separator="/">
								<xsd:element minOccurs="0" name="Version" type="xsd:string"/>
								<xsd:element minOccurs="0" name="VersionFunction" type="xsd:string"/>
								<xsd:element minOccurs="0" name="VersionOperation" type="xsd:string"/>
							</xsd:sequence>
							<xsd:sequence dfdl:separator="/">
								<xsd:element minOccurs="0" name="SignOn" type="xsd:string"/>
								<xsd:element minOccurs="0" name="Password" type="xsd:string"/>
								<xsd:element minOccurs="0" name="CompanyCode" type="xsd:string"/>
							</xsd:sequence>
							<xsd:sequence dfdl:separator="/">
								<xsd:element minOccurs="0" name="TransactionId" type="xsd:string"/>
								<xsd:element minOccurs="0" name="MessageId" type="xsd:string"/>
							</xsd:sequence>
							<xsd:sequence dfdl:separator="">
								<xsd:element name="MessageData">
									<xsd:complexType>
										<xsd:sequence>
											<xsd:element dfdl:initiator="CUSTOMER=" minOccurs="0" name="CustomerID" type="xsd:string"/>
											<xsd:element dfdl:initiator="LOAN.TYPE=" minOccurs="0" name="LoanType" type="xsd:string"/>
											<xsd:element dfdl:initiator="BPM.REQ.ID=" minOccurs="0" name="BPMReqID" type="xsd:string"/>
											<xsd:element dfdl:initiator="BPM.USER.ID=" minOccurs="0" name="BPMUserID" type="xsd:string"/>
                                            										<xsd:element dfdl:initiator="ACCOUNT.TITLE.1=" minOccurs="0" name="AccountTitle" type="xsd:string"/>
                                            <xsd:element dfdl:initiator="SHORT.TITLE=" minOccurs="0" name="ShortTitle" type="xsd:string"/>
                                                                                    <xsd:element dfdl:initiator="ACCOUNT.OFFICER=" minOccurs="0" name="AccountOfficer" type="xsd:string"/>
                                        </xsd:sequence>
									</xsd:complexType>
								</xsd:element>
							</xsd:sequence>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>




	<xsd:element name="HeaderData">
		<xsd:complexType>
			<xsd:sequence dfdl:initiator="" dfdl:terminator="">
				<xsd:sequence dfdl:separator="/">
					<xsd:element minOccurs="0" name="Operation" type="xsd:string"/>
				</xsd:sequence>
				<xsd:sequence dfdl:separator="/">
					<xsd:element minOccurs="0" name="Version" type="xsd:string"/>
					<xsd:element minOccurs="0" name="VersionFunction" type="xsd:string"/>
					<xsd:element minOccurs="0" name="VersionOperation" type="xsd:string"/>
				</xsd:sequence>
				<xsd:sequence dfdl:separator="/">
					<xsd:element minOccurs="0" name="Username" type="xsd:string"/>
					<xsd:element minOccurs="0" name="Password" type="xsd:string"/>
					<xsd:element minOccurs="0" name="CompanyCode" type="xsd:string"/>
				</xsd:sequence>
				<xsd:sequence dfdl:separator="/">
					<xsd:element minOccurs="0" name="TransactionID" type="xsd:string"/>
					<xsd:element minOccurs="0" name="MessageID" type="xsd:string"/>
				</xsd:sequence>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>