OFSMessageLibrary/OFSLOSCustomer.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
        <xsd:element ibmSchExtn:docRoot="true" name="OFSLOSCustomer">
    <xsd:complexType>
      <xsd:sequence>
                                                                  <xsd:element name="body">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:sequence dfdl:separator="/">
                <xsd:element minOccurs="0" name="Operation" type="xsd:string"/>
              </xsd:sequence>
              <xsd:sequence dfdl:separator="/">
                <xsd:element minOccurs="0" name="Version" type="xsd:string"/>
                <xsd:element minOccurs="0" name="VersionFunction" type="xsd:string"/>
                <xsd:element minOccurs="0" name="VersionOperation" type="xsd:string"/>
              </xsd:sequence>
              <xsd:sequence dfdl:separator="/">
                <xsd:element minOccurs="0" name="SignOn" type="xsd:string"/>
                <xsd:element minOccurs="0" name="Password" type="xsd:string"/>
                <xsd:element minOccurs="0" name="CompanyCode" type="xsd:string"/>
              </xsd:sequence>
              <xsd:sequence dfdl:separator="/">
                <xsd:element minOccurs="0" name="TransactionId" type="xsd:string"/>
                <xsd:element minOccurs="0" name="MessageId" type="xsd:string"/>
              </xsd:sequence>
              <xsd:sequence>
                                                              <xsd:element name="MessageData">
                  <xsd:complexType>
                     <xsd:sequence dfdl:separatorSuppressionPolicy="anyEmpty">
              			<xsd:element dfdl:escapeSchemeRef="" dfdl:initiator="SECTOR=" minOccurs="0" name="Sector" type="xsd:string"/>
              			<xsd:element dfdl:escapeSchemeRef="" dfdl:initiator="ID.TYPE=" minOccurs="0" name="IdType" type="xsd:string"/>
              			<xsd:element dfdl:escapeSchemeRef="" dfdl:initiator="ID.NUMBER=" minOccurs="0" name="IdNumber" type="xsd:string"/>
                        <xsd:element dfdl:escapeSchemeRef="" dfdl:initiator="MNEMONIC=" minOccurs="0" name="Mnemonic" type="xsd:string"/>
                        <xsd:element dfdl:escapeSchemeRef="" dfdl:initiator="NAME.1=" minOccurs="0" name="Name" type="xsd:string"/>
                        <xsd:element dfdl:escapeSchemeRef="" dfdl:initiator="SHORT.NAME=" minOccurs="0" name="ShortName" type="xsd:string"/>
                        <xsd:element dfdl:escapeSchemeRef="" dfdl:initiator="STREET=" minOccurs="0" name="Street" type="xsd:string"/>
                                                                <xsd:element dfdl:initiator="INDUSTRY=" minOccurs="0" name="Industry" type="xsd:string"/>
                                            <xsd:element dfdl:initiator="TARGET=" minOccurs="0" name="Target" type="xsd:string"/>
                                                                                    <xsd:element dfdl:initiator="ACCOUNT.OFFICER=" minOccurs="0" name="AccountOfficer" type="xsd:string"/>
                                        </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
                            </xsd:sequence>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
            </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>
</xsd:schema>