OFSMessageLibrary/OFSSignatureImage.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
        <xsd:element ibmSchExtn:docRoot="true" name="OFSSignatureImageFirst">
    <xsd:complexType>
      <xsd:sequence dfdl:separator="">
        <xsd:element name="body">
          <xsd:complexType>
            <xsd:sequence dfdl:terminator="">
              <xsd:sequence dfdl:separator="">
                <xsd:element minOccurs="0" name="Operation" type="xsd:string"/>
              </xsd:sequence>
              <xsd:sequence dfdl:separator="/">
                <xsd:element minOccurs="0" name="Version" type="xsd:string"/>
                <xsd:element minOccurs="0" name="Function" type="xsd:string"/>
                <xsd:element minOccurs="0" name="VersionFunction" type="xsd:string"/>
              </xsd:sequence>
              <xsd:sequence dfdl:separator="/">
                <xsd:element minOccurs="0" name="SignOn" type="xsd:string"/>
                <xsd:element minOccurs="0" name="Password" type="xsd:string"/>
                <xsd:element minOccurs="0" name="CompanyCode" type="xsd:string"/>
              </xsd:sequence>
              <xsd:sequence dfdl:separator="/">
                <xsd:element minOccurs="0" name="TransactionId" type="xsd:string"/>
                <xsd:element minOccurs="0" name="MessageId" type="xsd:string"/>
              </xsd:sequence>
              <xsd:sequence dfdl:separator="" dfdl:terminator=",">
                <xsd:element maxOccurs="unbounded" name="MessageData">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element dfdl:initiator="IMAGE.TYPE:1:1=" minOccurs="0" name="ImageType" type="xsd:string"/>
                      <xsd:element dfdl:initiator="IMAGE.REFERENCE:1:1=" minOccurs="0" name="ImageReference" type="xsd:string"/>
                      <xsd:element dfdl:initiator="SHORT.DESCRIPTION:1:1=" minOccurs="0" name="ShortDescription" type="xsd:string"/>
                      <xsd:element dfdl:initiator="DESCRIPTION:1:1=" minOccurs="0" name="Description" type="xsd:string"/>
                      <xsd:element dfdl:initiator="MULTI.MEDIA.TYPE:1:1=" name="MultiMediaType" type="xsd:string"/>
                      <xsd:element dfdl:initiator="CO.CODE:1:1=" name="CompanyCode" type="xsd:string"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>




</xsd:schema>