OFSMessageLibrary/OFSSignatureImageSecond.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:csv="http://www.ibm.com/dfdl/CommaSeparatedFormat" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions">


    <xsd:import namespace="http://www.ibm.com/dfdl/CommaSeparatedFormat" schemaLocation="IBMdefined/CommaSeparatedFormat.xsd"/>
        <xsd:element ibmSchExtn:docRoot="true" name="OFSSignatureImageSecond">
    <xsd:complexType>
      <xsd:sequence dfdl:separator="">
        <xsd:element name="body">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:sequence dfdl:separator="">
                <xsd:element name="Operation" type="xsd:string"/>
              </xsd:sequence>
              <xsd:sequence dfdl:separator="/">
                <xsd:element name="Version" type="xsd:string"/>
                <xsd:element name="Function" type="xsd:string"/>
                <xsd:element name="VersionFunction" type="xsd:string"/>
              </xsd:sequence>
              <xsd:sequence dfdl:separator="/">
                <xsd:element name="SignOn" type="xsd:string"/>
                <xsd:element name="Password" type="xsd:string"/>
                <xsd:element minOccurs="0" name="CompanyCode" type="xsd:string"/>
              </xsd:sequence>
              <xsd:sequence dfdl:separator="/">
                <xsd:element minOccurs="0" name="TransactionId" type="xsd:string"/>
              </xsd:sequence>
              <xsd:sequence dfdl:separator="">
                <xsd:element name="MessageData">
                  <xsd:complexType>
                    <xsd:sequence>
                      <xsd:element dfdl:initiator="UPLOAD.ID:1:=" minOccurs="0" name="UploadId" type="xsd:string"/>
                      <xsd:element dfdl:initiator="FILE.UPLOAD:1:1=" minOccurs="0" name="FileUpload" type="xsd:string"/>
                    </xsd:sequence>
                  </xsd:complexType>
                </xsd:element>
              </xsd:sequence>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format documentFinalTerminatorCanBeMissing="yes" encoding="{$dfdl:encoding}" escapeSchemeRef="csv:CSVEscapeScheme" ref="csv:CommaSeparatedFormat"/>
		</xsd:appinfo>
	</xsd:annotation>




</xsd:schema>