PHXGDCILib/GDCI_LoginMessage.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recFixLengthFieldsFmt="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat">

    <xsd:import namespace="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat" schemaLocation="IBMdefined/RecordFixLengthFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="fixed" ref="recFixLengthFieldsFmt:RecordFixLengthFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element dfdl:lengthKind="delimited" ibmSchExtn:docRoot="true" name="GDCI_LoginMessage">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="%CR;%LF;%WSP*;" dfdl:separatorSuppressionPolicy="anyEmpty">
                							<xsd:element dfdl:lengthKind="delimited" name="body">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element default="PHXGDCI" dfdl:length="7" dfdl:textTrimKind="none" name="MessageProtocol" type="xsd:string"/>
              <xsd:element default="20" dfdl:length="2" dfdl:textTrimKind="none" name="Version" type="xsd:string"/>
              <xsd:element default="000" dfdl:length="3" dfdl:textTrimKind="none" name="FieldInError" type="xsd:string"/>
              <xsd:element default="0800" dfdl:length="4" dfdl:textTrimKind="none" name="MessageType" type="xsd:string"/>
              <xsd:element default="20160426104451" dfdl:length="14" dfdl:textTrimKind="none" name="TransMissionDateAndtime" type="xsd:string"/>
              <xsd:element default="00" dfdl:length="2" dfdl:textTrimKind="none" name="DeliveryChannelType" type="xsd:string"/>
              <xsd:element default="00000009            " dfdl:length="20" dfdl:textTrimKind="none" name="DeliveryChannelID" type="xsd:string"/>
              <xsd:element default="                              " dfdl:length="30" dfdl:textTrimKind="none" name="CustomerIdentification" type="xsd:string"/>
              <xsd:element default="801" dfdl:length="3" dfdl:textTrimKind="none" name="TransactionCode" type="xsd:string"/>
              <xsd:element default="20160426" dfdl:length="8" dfdl:textTrimKind="none" name="TransactionDate" type="xsd:string"/>
              <xsd:element default="104451" dfdl:length="6" dfdl:textTrimKind="none" name="TransactionTime" type="xsd:string"/>
              <xsd:element default="000000104451" dfdl:length="12" dfdl:textTrimKind="none" name="RetrievalReferenceNumber" type="xsd:string"/>
              <xsd:element default="                    " dfdl:length="20" dfdl:textTrimKind="none" name="CustomerPINData" type="xsd:string"/>
              <xsd:element default="                                                                                " dfdl:length="80" dfdl:textTrimKind="none" name="ChannelSpecificDataField" type="xsd:string"/>
              <xsd:element default="                    " dfdl:length="20" dfdl:textTrimKind="none" name="ChannelPrivateData" type="xsd:string"/>
              <xsd:element dfdl:length="6" dfdl:textTrimKind="none" name="AuthorizationResponseID" type="xsd:string"/>
              <xsd:element default="00" dfdl:length="2" dfdl:textTrimKind="none" name="ResponseCode" type="xsd:string"/>
              <xsd:element default="F40379AB9E0EC533 " dfdl:length="17" dfdl:textTrimKind="none" name="channelPassword" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>