PHXGDCILib/stringMessage.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:complexType name="StringMessage">
    	<xsd:sequence>
    		<xsd:element name="message" type="xsd:string"></xsd:element>
    	</xsd:sequence>
    </xsd:complexType>

    <xsd:element name="concatMessage" type="StringMessage"></xsd:element>
</xsd:schema>