PHXGDCILib/TitleFetchBody.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:dfdl="http://www.ogf.org/dfdl/dfdl-1.0/" xmlns:fn="http://www.w3.org/2005/xpath-functions" xmlns:ibmDfdlExtn="http://www.ibm.com/dfdl/extensions" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:recFixLengthFieldsFmt="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat">

    <xsd:import namespace="http://www.ibm.com/dfdl/RecordFixLengthFieldFormat" schemaLocation="IBMdefined/RecordFixLengthFieldFormat.xsd"/>
    <xsd:annotation>
		<xsd:appinfo source="http://www.ogf.org/dfdl/">
			<dfdl:format encoding="{$dfdl:encoding}" escapeSchemeRef="" occursCountKind="fixed" ref="recFixLengthFieldsFmt:RecordFixLengthFieldsFormat"/>
		</xsd:appinfo>
	</xsd:annotation>

	<xsd:element dfdl:lengthKind="delimited" ibmSchExtn:docRoot="true" name="TitleFetchBody">
		<xsd:complexType>
			<xsd:sequence dfdl:separator="" dfdl:separatorSuppressionPolicy="anyEmpty">
				                			            <xsd:element dfdl:length="11" name="AccountBankIMD" type="xsd:string"/>
                <xsd:element dfdl:length="25" name="AccountDetails" type="xsd:string"/>
                <xsd:element dfdl:length="30" name="AccountTitle" type="xsd:string"/>
            </xsd:sequence>
		</xsd:complexType>
	</xsd:element>


</xsd:schema>